body {  
	min-width:350px; 
}

#header {
	width: 100%;
	position: fixed;
}

#header {
	margin: 0px;
	height: 130px;
	top: 0px;
	z-index: 999;
	border-bottom: #FF00FF 3px solid;
	position: relative;
	clear: both;
	background-color: #F7FFF1;
}

.responsive-image {
	background-image: url('img/logo_nutrisoft.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	image-rendering:crisp-edges;
	width: 100%;
	height: auto;
}

/* @media only screen and (max-width: 990	px) { */
@media screen and (min-width: 200px) and (max-width: 990px){
	#header {
		height:60px;
	}

	.responsive-image {
		max-height: none !important;
    	height: 50px !important;
	}
}

footer {
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: -1;
	background-color: #F7FFF1;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#table-list td, tr, th #table-list>tbody>tr>td, #table-list>tbody>tr>th,
	#table-list>tfoot>tr>td, #table-list>tfoot>tr>th, #table-list>thead>tr>td,
	#table-list>thead>tr>th {
	text-align: center;
}

#table-list thead, th {
	background-color: #D0D0D0;
}

#table-list tr:HOVER td {
	color: #FF6347;
}

#table-list th:HOVER {
	color: black;
}

#welcome {
	background-image: url('img/welcome.jpg');
	background-position: center center;
	background-size: contain;
	height: 400px;
	background-repeat: no-repeat;
}

/**
* CSS para as abas
*/
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
